@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
a {
  text-align: none;
}
ul {
  padding-left: 0;
  margin-bottom: 0;
}
.logo {
  width: 120px;
}
.container-lg , .container{
    max-width: 1320px;
    width: 100%;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 146px;
  }
}

@media screen and (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}
@media screen and (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}
@media screen and (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
