@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-align: none;
}
ul {
  padding-left: 0;
  margin-bottom: 0;
}
.logo {
  width: 120px;
}
.container-lg , .container{
    max-width: 1320px;
    width: 100%;
}
.close_sidebar{
    transition: right linear 0.3s;
    right: -100%;
}
.open_sidebar{
    transition: right linear 0.3s;
    right: 0px !important;
}

.count {
  display: inline-block;
}

.footer{
  background-color: #f5f5f7;
}

.footer a{
  position: relative;
  display: inline-block;
}
.footer a::after {
  width: 100%;
  height: 2px;
  background-color: #42474d;
  position: absolute;
  bottom: 2px;
  left: 0;
  content: "";
  opacity: 0;
  visibility: hidden; /* Set initial visibility to hidden */
  transition: opacity linear 0.1s, visibility 0s linear 0.1s; /* Add transition for opacity */
}

.footer a:hover::after {
  opacity: 1;
  visibility: visible; /* Set visibility to visible on hover */
  transition-delay: 0s; /* Reset transition delay */
}

@media screen and (min-width: 768px) {
  .logo {
    width: 146px;
  }
}

@media screen and (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}
@media screen and (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}
@media screen and (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
